frontend:
 image: nodejs
 command: bash -c "cd appsource && npm install && npm start"
 volumes:
  - "./frontend/appsource:/appsource"
 ports:
  - "3000:3000"
 environment:
  - NODE_PATH=/usr/lib/node_modules
 links:
  - backend
backend:
 image: backend
 volumes:
  - "./backend/appsource:/appsource"
 command: bash -c "cd appsource && python hellorpc.py"
 ports:
  - "5000:5000"
